# Anova

In [ ]:
# Load libraries
from sklearn import datasets
# Load digits dataset
iris = datasets.load_iris()

In [ ]:
iris

In [ ]:
import pandas as pd

df = pd.DataFrame(iris.data)

In [ ]:
df = pd.read_csv('D:\\ExcelR Content\\Datasets\\iris.csv')

In [ ]:
df

In [ ]:
df['Sepal.Width'].hist()

In [ ]:
df['Sepal.Length'].hist()

In [ ]:
df[1].hist()

In [ ]:
import scipy.stats as stats
import pandas as pd
stats.f_oneway(df.iloc[:,0], df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

In [ ]:
from google.colab import files
uploaded=files.upload()

In [ ]:
import pandas as pd
from scipy import stats
df = pd.read_csv('Diet Plans.csv')

In [ ]:
df

In [ ]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2])

In [1]:
#Null Hypothesis: All the 3 diet plans are the same
#Alternate Hypothesis: Atleast one of the diet plans is significantly different in terms of weight loss

import pandas as pd
from scipy import stats
Atkins=pd.Series([6,2,3,4,2,3,3,2,7,8,10,4])
GM=pd.Series([4,4,5,7,8,5,3,7,10,4,5,2])
SouthBeach=pd.Series([6,7,5,6,8,7,8,9,6,5,5,12])
stats.f_oneway(Atkins,GM,SouthBeach)

F_onewayResult(statistic=3.5714285714285716, pvalue=0.039440588798258305)

Since the p-value here is lesser than 0.05, we shall conclude that the Alternate Hypothesis is true, which says that atleast one of the diet plans is significantly different than the others.

In [ ]:
Memory_Drug=pd.Series([70,77,83,90,97])
Placebo=pd.Series([37,43,50,57,63])
No_Treatment=pd.Series([3,10,17,23,30])
anova=stats.f_oneway(Memory_Drug,Placebo,No_Treatment)
anova

In [ ]:
pd.reset_option('display.float_format')
#pd.options.display.float_format = '{:.5f}'.format

In [ ]:
import numpy as np
#pd.reset_option('display.float_format')
np.set_printoptions(formatter={'float_kind':'{:f}'.format})
p_value=anova[1]
p_value

In [2]:
Muppet=pd.Series([11,7,8,14,11,10,5])
Futurama=pd.Series([4,8,6,11,9,8])
BBC=pd.Series([4,3,2,2,3,6])
No_Program=pd.Series([7,7,5,4,3,4,4,4])
anova=stats.f_oneway(Muppet,Futurama,BBC,No_Program)
anova

F_onewayResult(statistic=10.587881706191565, pvalue=0.000143743973272208)

# Chi-square

In [3]:
import pandas as pd
from scipy.stats import chi2_contingency

In [4]:
tshirts = pd.DataFrame([[48,22,33,47],[35,36,42,27]],index=["Male","Female"],
                       columns=["Black","White","Red","Blue"])
tshirts

        Black  White  Red  Blue
Male       48     22   33    47
Female     35     36   42    27

Null Hypothesis: There is no association between Gender & T-shirt Colour Preferences

Alternate Hypothesis: There is a statistically significant association between Gender & T-shirt Colour Preferences

In [5]:
chi2_contingency(tshirts)
#Since p-value is less than 0.05, we accept the Alternate Hypothesis.

Chi2ContingencyResult(statistic=11.56978992417547, pvalue=0.00901202511379703, dof=3, expected_freq=array([[42.93103448, 30.        , 38.79310345, 38.27586207],
       [40.06896552, 28.        , 36.20689655, 35.72413793]]))

SciPy’s chi2_contingency() returns four values, 𝜒2 (chi-square statistic) value, p-value, degree of freedom and expected values.

In [ ]:
df=chi2_contingency(tshirts)[3]
pd.DataFrame(
    data=df[:,:], 
    index=["Male","Female"],
    columns=["Black","White","Red","Blue"]
).round(2)

In [ ]:
#To get the p-value
pvalue=chi2_contingency(tshirts)[1]
pvalue

In [ ]:
#To get the expected values
exp_val=chi2_contingency(tshirts)[3]
exp_val

In [ ]:
import pandas as pd
import scipy.stats as stats

chisq_prob = pd.DataFrame([[14,4],[0,10]],
                          index=["Athlete","Non-Athlete"],
                          columns=["Non-Smoker","Smoker"])
chisq_prob

In [ ]:
stats.chi2_contingency(chisq_prob)

In [ ]:
#To get the p-value
stats.chi2_contingency(chisq_prob)[1]

In [ ]:
stats.chi2_contingency(chisq_prob)

Since the p-value is <0.05, the Alternate Hypothesis is true, which says that there is a statistically significant association between the 2 given variables.

In [ ]:
cars=pd.DataFrame([[1,2,12],[8,4,0],[2,1,2]],
                 index=[3,4,5],
                 columns=[4,6,8])
cars

In [ ]:
stats.chi2_contingency(cars)

Null Hypothesis - The variables gears & cylinders are independent of each other, and there is no association between the two variables.

Alternate Hypothesis - There is a significant association between the gear & cylinder variables.

Since the p-value obtained is less than 0.05, we shall conclude that the Alternate Hypothesis is true, that the variable gears & cyclinders are significantly associated.

In [6]:
from google.colab import files
uploaded=files.upload()

Saving mtcars.csv to mtcars.csv

In [11]:
cars=pd.read_csv('mtcars.csv')
cars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [9]:
chi=pd.crosstab(cars['gear'],cars['carb'])
chi

carb  1  2  3  4  6  8
gear
3     3  4  3  5  0  0
4     4  4  0  4  0  0
5     0  2  0  1  1  1

In [10]:
#Parameters in chi2_contingency - (Chi2_stat, P-value, Degrees of freedom, expected values)
stats.chi2_contingency(chi)

Chi2ContingencyResult(statistic=16.51809523809524, pvalue=0.0857309160789439, dof=10, expected_freq=array([[3.28125, 4.6875 , 1.40625, 4.6875 , 0.46875, 0.46875],
       [2.625  , 3.75   , 1.125  , 3.75   , 0.375  , 0.375  ],
       [1.09375, 1.5625 , 0.46875, 1.5625 , 0.15625, 0.15625]]))

In [ ]:
chi=pd.crosstab(cars['gear'],cars['cyl'])
chi

In [ ]:
stats.chi2_contingency(chi)

In [ ]:
import numpy as np
np.set_printoptions(precision=2)

In [ ]:
titanic=pd.DataFrame([[108,192],[153,114],[515,175]],
            index=[1,2,3],
            columns=[0,1])
titanic

In [ ]:
stats.chi2_contingency(titanic)

In [ ]:
import pandas as pd
df=pd.read_csv('C:\\Users\\Neha Excelr\\DataSets\\titanic.csv')

In [ ]:
df_chi2=pd.crosstab(df.pclass,df.survived)
df_chi2

In [ ]:
stats.chi2_contingency(df_chi2)