In [ ]:
# If the number is positive, we print an appropriate message
#There will be no output when condition is false
num = -2
if num > 0:
  print(num, "is a positive number.")

In [ ]:
#Output when condition is true
num = 5
if num>0:
  print(num, "is a positive number.")

5 is a positive number.

In [ ]:
num=-6
if num<0:
  print(num, 'is a negative number')

print('Thank you!')

-6 is a negative number
Thank you!

In [ ]:
num=4
if num>5:
  print(num, "is greater than 5")

print("---------------------------")

num=9
if num>5:
  print(num, "is greater than 5")

print('Thank You!')

---------------------------
9 is greater than 5
Thank You!

In [ ]:
num= 2
if num>0:
  print(num, "is a positive value!")
else:
  print(num, "is a negative value!")

2 is a positive value!

In [ ]:
num=0
if num>0:
  print(num, "is a positive number!")
elif num<0:
  print(num, "is a negative number!")
else:
  print(num, "is neither positive nor negative!")

0 is neither positive nor negative!

In [ ]:
#Create an if elif and else statement, where the user gets remarks for the ratings given:
#5 is Excellent
#4 is Good
#3 is Average
#2 is Bad
#1 is Horrible
#>5 & <1 is Invalid Rating

In [ ]:
rating=round(float(input("Enter the Rating: ")))
if rating==5:
  print('Excellent')
elif rating==4:
  print('Good')
elif rating==3:
  print('Average')
elif rating==2:
  print('Bad')
elif rating==1:
  print('Horrible')
else:
  print('Invalid Rating')

Enter the Rating: 3.6
Good

In [ ]:
num=-5
if num < 0:
    print(num, "is a negative number")

In [ ]:
num=-5
if num < 0:
  c=num*(-1)
  print(c)

In [ ]:
num=-6
if num<0:
    print("It is a negative number")

In [ ]:
num=-5
if (num > 0):
  print(num, "is a positive number.")

print("This is always printed.")

In [ ]:
num=-5
if (num < 0):
  print(num, "is a negative number.")

print("This is always printed.")

In [ ]:
#If else:
num = -6
if(num>=0):
  print(num, "is either positive or zero")
else:
  print(num, "is a negative number")

-6 is a negative number

In [ ]:
num=-8
if num<=0:
    print(num, "is a negative number or zero")
else:
    print(num, 'is positive')

-8 is a negative number or zero

In [ ]:
#if, elif & else
num=0
if (num>0):
    print(num, 'is a positive number')
elif (num<0):
    print(num, 'is a negative number')
else:
    print(num, 'is neither positive nor negative')

0 is neither positive nor negative

In [ ]:
marks=36
if(marks>35):
  print(marks,"is a passing marks")
elif (marks<35):
  print(marks," is a failing marks")
else:
  print(marks,"just passed")

In [ ]:
#0-34 = Fail
#35-59 = Second Division
#60-74 = First Division
#>=75 = Distinction

In [ ]:
#For integer input
marks=80
if (marks<0) | ((marks>=0) & (marks<=34)):
  print(marks,'Fail')
elif marks in range(35,60):
  print(marks,'Second Division')
elif marks in range(60,75):
  print(marks,'First Division')
else:
  print(marks,'Distinction')

80 Distinction

In [ ]:
#For marks in float data type.
marks=67.2
if (marks<0) | ((marks>=0) & (marks<=34)):
  print(marks,'Fail')
elif (marks>=35) & (marks<60):
  print(marks,'Second Division')
elif (marks>=60) & (marks<75):
  print(marks,'First Division')
else:
  print(marks,'Distinction')

67.2 First Division

In [ ]:
marks=0
if (marks<0) | (marks in range(0,35)):
  print(marks,'is Fail')
elif marks in range(35,60):
  print(marks,'Second Division')
elif marks in range(60,75):
  print(marks,'First Division')
else:
  print(marks,'Distinction')

In [ ]:
marks = int(input("Enter your marks: "))
if (marks<0) | (marks in range(0,35)):
  print(marks,'is Fail')
elif marks in range(35,60):
  print(marks,'Second Division')
elif marks in range(60,75):
  print(marks,'First Division')
else:
  print(marks,'Distinction')

Enter your marks: 35
35 Second Division

In [ ]:
#Taking the user input
marks = int(input("Enter your marks: "))
if marks < 35:
  print(marks, "You have been failed")
elif (marks >= 35) & (marks < 60):
  print(marks, "You have passed with Second Division")
elif (marks >= 60) & (marks <75):
  print(marks, "You have passed with First Division")
elif marks >= 75:
  print(marks, "You have passed with a Distinction")

Enter your marks: 60
60 You have passed with First Division

In [ ]:
review = 5
if(review>6):
    print('Movie is HIT')
elif(review>=4 & review<=6):
    print('movie is One time Worth-Watch')
elif(review>=0 & review<=3) :
    print('FLOP')
else:
    print('Wrong review no')

In [ ]:
num=3
if (num>0):
    print(num, 'is a positive number')
elif (num<0):
    print(num, 'is a negative number')
else:
    print(num, 'is neither positive nor negative')

In [ ]:
rating=40
if rating==5:
    print("Excellent")
elif rating in range(3,5):
    print("Good")
else:
    print("Poor")

In [ ]:
rating=40
if rating>=5:
    print("Excellent")
elif rating in range(3,5):
    print("Good")
else:
    print("Poor")

In [ ]:
phvalue =7
if phvalue >7:
    print(' it is acid')
elif phvalue <7:
    print('it is base')
else:
    print('it is neutral')

In [ ]:
displacement=360
if displacement>350:
    print("It has high engine capacity")
elif displacement==350:
    print("Engine has more torque")
else:
    print("Engine has normal Torque")

In [ ]:
marks  = 20
if( marks >= 70):
    print("first class")
elif marks in range (50,80):
    print("second class")
elif marks in range (30,49):
    print("Third class")
else:
    print("Fail")

In [ ]:
rating=6
if (rating>=8):
    print("the product is excellent")
elif (rating>=6) & (rating<8):
    print("the product is good")
elif (rating>=4) & (rating<6):
    print("the product is average")
else:
    print("the product is bad")

In [ ]:
list1=[41,56,12,52,41,48,57,59,53,82,93,69,74,14,15,25,65]
list2=[]
for i in list1:
  if i%2==0:
    list2.append(i)

print(list2)

[56, 12, 52, 48, 82, 74, 14]

In [ ]:
a=round(float(input("Enter a Number: ")))
print("The factors of",a, "are as below:")
for i in range(1,a+1):
  if a%i==0:
    print(i)

Enter a Number: 23.6
The factors of 24 are as below:
1
2
3
4
6
8
12
24

- Suppose we input the value 10 for a.
- The command 'for i in range(1,a+1)' means all values from 1 to 10. Therefore 'i' will iterate through [1,2,3,4,5,6,7,8,9,10]
- And 'a' is the input given by user, hence in the example here, a=10.
- So the first value for i will be considered as 1, so if a%i==0 means if 10%1==0, which means if I divide the input 10 by 1, I get a the remainder 0. If this condition is true, then print that value i, i.e. 1.
- Then, go to the next element in the range, ie. 2. Do we get a remainder 0 when we divide 10 by 2? Yes, hence it will print 2 as well.
- Then go to value 3, repeat the step.
- This will print all the factors of the user input given in variable a.

In [ ]:
import numpy as np
a=np.random.randint(0,101,200)
a

array([ 54,   3,  39,  77,  47,  94,   4,  96,  45,  50,  29,  45,  51,
        56,  96,  67,  18,  63,  16,  28,  77,  82,  27,  42,  34,  94,
        48,  83,  37,  98,  47,  58,   2,   4,  38,  88,   7,  25,   6,
        15,  25,  40,  72,  81,  82,  24,  95,  30,   4,  70,  78,  41,
        72,  97,  89,  99,  68,  67,  97,  41,  43,  45,  97,  98,  64,
        56,  81,  75,  83,  21,  68,   8,  61,  24,  53,  43,  88,  31,
        92,  21,  85,   6,  92,   6,  66,  86,  44,  94,  67,  30,  98,
        52,  29,   9,  38,  14,  51,  65,  99,  60,   1,  32,  90,  91,
        95,  99,  38,  23,  62, 100,  98,  19,  33,  18,  81,   6,  72,
        48,  46,  21,  97,  52,  62,  72,  61,  50,  29,  55,  65,  15,
        69,  67,  84,   6,  97,  26,   7,  19,  98,  27,  23,   8,  55,
         2,   2,  76,  71,  85,  23,  44,  12,  69,  11,  75,   2,  10,
        97,  59,  19,  84,  48,  15,  52,  98,  40,  64,  62,  43,  93,
        20,  41,  31,   0,  63,  10,  14,  83,  89,  40,  84,  14,  32,
        23,   9,  35,  22,  54,  58,  47,  17,  95,  48,  52,  87,  47,
        73,   4,  71,  30,  43])

In [ ]:
mult_3=[]
for i in a:
  if i%3==0:
    mult_3.append(i)
    print(i)

print(mult_3)

54
3
39
96
45
45
51
96
18
63
27
42
48
6
15
72
81
24
30
78
72
99
45
81
75
21
24
21
6
6
66
30
9
51
99
60
90
99
33
18
81
6
72
48
21
72
15
69
84
6
27
12
69
75
84
48
15
93
0
63
84
9
54
48
87
30

- Consider the values in the array as marks of students.
Write a loop so that each element from the array gives the result status, as Fail between (0-34), Second Division between (35-59), First Division Between (60-74) & Distinction for values equal to or above 75.

- Write a loop to create a list of all prime numbers from the given array.

- Write a loop to find all numbers from the given that are divisible by 2,3 & 6.

In [4]:
import numpy as np
a=np.random.randint(0,101,300)
#print(a)
Result_Status=[]
for i in a:
  if i < 35:
    Result_Status.append("Failed")
  elif (i >= 35) & (i < 60):
    Result_Status.append("Second Division")
  elif (i >= 60) & (i < 75):
    Result_Status.append("First Division")
  else:
    Result_Status.append("Distinction")
#print(Result_Status)

In [3]:
import pandas as pd
Marks=pd.DataFrame()
Marks['Marks']=pd.Series(a)
Marks['Result']=pd.Series(Result_Status)
#Marks.sort_values(by=['Marks'],axis=0)
Marks

     Marks           Result
0       15           Failed
1        1           Failed
2       63   First Division
3       16           Failed
4       49  Second Division
..     ...              ...
295     12           Failed
296     85      Distinction
297     26           Failed
298     48  Second Division
299     88      Distinction

[300 rows x 2 columns]

In [ ]:
import random
random.random()

0.0988091447183006

In [ ]:
import random
marks=0
while marks != random.random():
    marks = int(input('Enter your marks(Enter 101 to exit) '))
    if marks in range(0,101):
      if marks in range(0,35):
        print('Fail')
      elif marks in range(35,60):
        print('Second Class')
      elif marks in range(60,75):
        print('First Class')
      else:
        print('Distinction')
    elif (marks == 101):
      break
    else :
      print('Invalid value,Please enter value b/w 0-100')

print("Thank You")

Enter your marks(Enter 101 to exit) 56
Second Class
Enter your marks(Enter 101 to exit) 85
Distinction
Enter your marks(Enter 101 to exit) 96
Distinction
Enter your marks(Enter 101 to exit) 25
Fail
Enter your marks(Enter 101 to exit) 45
Second Class
Enter your marks(Enter 101 to exit) 101
Thank You

In [ ]:
import random
random.random()

In [ ]:
marks=0
while True:
  marks =int(input("marks"))
  if marks in range(0,101):
    if marks in range(0,35):
      print("fail")
    elif marks in range(35,60):
      print("second class")
    elif marks in range(60,75):
      print("first class")
    elif marks in range(75,101):
      print("distinction")
  elif marks==101:
    print("invalid value,please enter the value 0-100")
    break
  else:
    print('Invalid value,Please enter value b/w 0-100')

In [ ]:
random.random()

In [ ]:
list1 =[]
a = np.random.randint(0,100,100)
for i in a:
    if i%7 == 0:
        list1.append(i)

In [ ]:
print(a)
print(list1)

In [ ]:
for i in a:
  if (i%2==0) & (i%3==0):
    print(i)

In [ ]:
num = 24
Fact_24=[]
print("Factors of", num)
for i in range(1,num+1):    #i=[1,2,3,4,5.....24]
  if(num % i)==0:
    print(i)
    Fact_24.append(i)

print(Fact_24)

In [ ]:
even_nos=[]
for i in a:
    if i%2==0:
        even_nos.append(i)

print(even_nos)

In [ ]:
new_list=[]
for i in a:
    if i!=0:
        if (i%3==0):
            new_list.append(i)
        #print(i,end=', ')
print(new_list)

In [ ]:
new_list=[]
for i in a:
    flag = 0
    for x in range(2, i):
        if(i%x == 0):
            flag +=1
            break
    if (flag == 0 and i!= 1):
        new_list.append(i)
print(new_list)

In [7]:
import numpy as np
a=np.random.randint(0,100,500)
print(a)
prime_nos=[]
for i in a:
    if i!=0 and i!=1:
        count=0
        for j in range(2,i):    #i=2,3,4,5......13
            if i%j==0:
                count+=1
        if count==0:
            prime_nos.append(i)

prime_nos

[50 33 90 41 76 24 42  1 44 13 82 77  1 55 54 52 66 16 43 50 36 81 29 10
 37  7 68 16 90 27 77  2 30 72  8 21 70 53 28 88 55 49 38 34 50 13 41 26
 57 79 71 68 51 53  9 12 42 87 87 51 27 52 93  8 41  3 64 15 18 71 52 85
 58 21 43 24 64 66 77 36 41 73 21 10 72 96 24 81 95 48  6 96 55 99 90 11
 33 94 47 55 87 85 71 46 26 63 30 24 85 18 99  8 53 42 29 93 14 10 36  9
 79 76 55 23 82 86 85 97 89 68 31 38 64 24 92 93 15 17 49 33 46 14 40 86
 83 65 32 62 14 42 78 15 50 98 16 77 73 65 77 78 26  9 54  7 99 79 70 26
 40 14 60 48 89  5 73 13 94 41 34 79 97 69 58 50 57 71 56 25  5  0 49 64
 36  1 48 41 53  7 32 48 97 58 66 11 78 73 72  4 72 53 33 95  0 36 37 20
 52 27 43 38  9 44 72 84 65 98 64 31 75 26  5 76 73 57  6 18 89 51 33 12
  3  8  4 11 84 59 71 13  3 14 68 33 11 21 24 64 38 39 14 73 78 30 75 93
 90 92 51 23 94 81 76 60 61 78 82 89 29 42 58 83 36 82 70 41 34 86 56  3
 28 72 89 44 98 27 71 56 22 72 92 27 32 46 48 10 17 95 14 91 28  0 47 64
 40 60 92 26 38 93 28 74 41 68 62 75 92 65 66 49 11 89 17 65 55 94 90 32
 25 28 89 55 63 85 81 60 48 67 50 19 59 83 72 39 19  6 12  3 39 54 43 78
 66 20 25 87 97 11 25 39 34 82 18 79 91 59  6 74 35 94 59 74 66 80 20 28
 33  9 77 42 96 10 32 44 36 65 99 50 22  5 19 92 25 14 81 12 92 63 14 36
 20 22  2 93 18 34 48 30 56 24 40 35 74 86 99 71 24 88  3 56 35 12 88 68
 37 46 68 82 32 54 72  6 66 66 64 10 25 38 46 44 99 63 97 40 59 27 50 25
 29 49 36  2 23 83 32 82 62 37 80 72 61 55 49 15 27  7 73 21 91 81 88 44
  3 32 87 86 39 97 93  0 30 39 73 55 82 14 79 35 21 23 72  0]

[41,
 13,
 43,
 29,
 37,
 7,
 2,
 53,
 13,
 41,
 79,
 71,
 53,
 41,
 3,
 71,
 43,
 41,
 73,
 11,
 47,
 71,
 53,
 29,
 79,
 23,
 97,
 89,
 31,
 17,
 83,
 73,
 7,
 79,
 89,
 5,
 73,
 13,
 41,
 79,
 97,
 71,
 5,
 41,
 53,
 7,
 97,
 11,
 73,
 53,
 37,
 43,
 31,
 5,
 73,
 89,
 3,
 11,
 59,
 71,
 13,
 3,
 11,
 73,
 23,
 61,
 89,
 29,
 83,
 41,
 3,
 89,
 71,
 17,
 47,
 41,
 11,
 89,
 17,
 89,
 67,
 19,
 59,
 83,
 19,
 3,
 43,
 97,
 11,
 79,
 59,
 59,
 5,
 19,
 2,
 71,
 3,
 37,
 97,
 59,
 29,
 2,
 23,
 83,
 37,
 61,
 7,
 73,
 3,
 97,
 73,
 79,
 23]

In [9]:
import numpy as np
a=np.random.randint(0,100,50)
unique_a=[]
for i in a:
  if i not in unique_a:
    unique_a.append(i)

sorted(unique_a)

[0,
 1,
 4,
 6,
 10,
 15,
 17,
 20,
 23,
 25,
 28,
 29,
 30,
 32,
 33,
 35,
 37,
 39,
 45,
 46,
 48,
 49,
 54,
 55,
 56,
 57,
 61,
 63,
 65,
 69,
 70,
 78,
 80,
 82,
 83,
 85,
 86,
 88,
 92,
 93,
 99]

In [ ]:
new_list=[]
for i in a:
    flag = 0
    for x in range(2, i):
        if(i%x == 0):
            flag +=1
            break

    if (flag == 0 and i!= 1 and i!=0):
        new_list.append(i)
print(new_list)

In [ ]:
Prime_numbers=[]
for i in a:
        if i%i==0 and i%1==0 and i%2==1 and i>=2:
            Prime_numbers.append(i)

print(Prime_numbers)

In [ ]:
a=[5,7,9,4,8]

In [ ]:
a=[5,7,9,4,8]
min_val=a[0]
for val in a:
    if val < min_val:
        min_val=val

print(min_val)

In [ ]:
## Define a function with conditional statement

def max_num(num1,num2,num3):
    if (num1>=num2) and (num1>=num3):
        return num1
    elif (num2>=num1) and (num2>=num3):
        return num2
    else:
        return num3

max_num(80,141,3)

In [ ]:
max_num(400,60,1150)

In [ ]:
# Nested If
num = int(input("Enter a number: "))
if (num >= 0):
    if (num == 0):
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
############# Loops #####################
# for Loop
# for each item in sequence , last item reached , no - body of loop , yes , exit loop

#Ex:1

snacks = ['pizza','burger','shawarma','franky']

for x in snacks:
    print(x, "is a yummy snack")

print("Good day!")

In [ ]:
x=[1,2,3,4,5,[6,7]]
y=[1,2,3,[4,4.5],5,6]
z=[1,[2,2.5],3,4,5,6]
count=0
for i in x:
    for j in y:
        for k in z:
            count+=1

print(count)

In [ ]:
x=[1,2,3,4,5,6]
y=[1,2,3,4,5,6]
z=[1,2,3,4,5,6]
for i in x:
    for j in y:
        for k in z:
            print(i,j,k)

In [ ]:
#Ex:2
num = int(input("Please give a number: "))
factorial = 1
if num < 0:
    print("Number must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):       #(If user gives input of 5, range will have the values [1,2,3,4,5], only if we give the upper limit in the range as num+1, i.e.6 in this case)
        factorial = factorial * i   #range has now the values [1,2,3,4,5]
        print("i at this iteration is:", i)
        print("factorial at this iteration is:",factorial)

    print("factorial =  " ,factorial)

#What is a factorial?
#5*4*3*2*1
#7*6*5*4*3*2*1

In [ ]:
num = int(input('Enter a number'))
if num == 0 & num == 1:
    print(num,'number is neither prime nor composite')
elif num > 1:
    for i in range(2,num):
        if(num%i == 0):
            print(num,'is not a prime but composite number')
        else:
            print(num,'is a prime number not composite')
else:
    print('please enter positive number only')

In [ ]:
x = range(5)
for i in x:
    print(i)

In [ ]:
#Nested for loop

for i in range(0,3):     #[0,1,2]
    for j in range(0,3):  #[0,1,2]
        print(i,j)

In [ ]:
#Nested for loop

for i in range(0,6):     #[0,1,2]
    for j in range(0,3):  #[0,1,2]
        print(i,j)

In [ ]:
# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

In [ ]:
#To sum up float values upto nth float number
########################## While Loop #############################
# Program to add n natural numbers
# sum = 1+2+3+...+n
# To take input from the user
n = int(input("Enter n: "))
# n = 5
# initialize sum and counter
sum_n = 0
i = 1      #i=1,2,3,4,5
while i <= n:
    sum_n = sum_n + i      #sum_n = 10+5 = 15
    i = i+1    # update counter    i= 5+1 = 6
    print("sum:", sum_n)
    print("i:" , i)

# print the sum
print("The sum is", sum_n)

In [ ]:
#To sum up float values upto nth float number
n = round(float(input("Enter n: ")),2)
# initialize sum and counter
sum_n = 0
i = 0
while i <= n:
    sum_n = sum_n + i      #sum_n = 10+5 = 15
    i = i+0.01    # update counter    i= 5+1 = 6
    print("sum:", sum_n)
    print("i:" , i)

# print the sum
print("The sum is", sum_n)

At the start,

n= 4, i=1, sum=0

Since i<=n   (1<4)

sum= sum+i = 0+1 = 1

i= i+1 = 1+1 = 2

Still i<=n    (2<=4)

sum= sum+i = 1+2 = 3

i= i+1 = 2+1 = 3

Still i<=n    (3<=4)

sum= sum+i = 3+3 = 6

i= i+1 = 3+1 = 4

Still i<=n    (4<=4)

sum= sum+i = 6+4 = 10

i= i+1 = 4+1 = 5

At this time 'while' condition no longer fulfills because i=5 & 5 is not <=4

Hence the loop stops.

In [ ]:
a = int(input('enter a no'))
list1 =[]
i = 1
sum1 = 0
while i<=a:
    if a%i ==0:
        list1.append(i)
        sum1 = sum1 +i
    i +=1
print(list1)
print('sum of the factors',sum1)

In [ ]:
a=['abc','xyz','lmn','xyz',123,'xyz','jkl','xyz',123,'xyz','xyz','lmn','xyz',123]

In [ ]:
speed_limit=100
speed_vehicle=0
accelation =10

while(speed_vehicle<speed_limit):
    speed_vehicle=speed_vehicle+accelation
    print('Speed of vehicle :',speed_vehicle)

print('Speed is now :',speed_vehicle)

In [ ]:
limit=100
i=int(input("Current speed of your vehicle is: "))
print(i)
while(i>limit):
    print("!!SPEED LIMIT CROSSED!!")
    i=i-10
    if i>limit:
        print("SPEED is",i,"! YOU NEED TO REDUCE BELOW 100, YOU WILL BE FINED!!")
    else:
        print("YOU ARE GOOD TO GO NOW")

In [ ]:
a=int(input("Please give a natural number: "))
b=list(range(1,a+1))
print('range b:',b)
# initialize sum and counter
sum = 0
while sum<b[-1]:
    for m in b:
        sum=sum+m
        print("sum:", sum)

# print the sum
print("The sum is", sum)

In [ ]:
b=[1,2,3,4,5,7]
# initialize sum and counter
sum = 0
while sum<b[-1]:
    for m in b:
        sum=sum+m
        print("sum:", sum)

# print the sum
print("The sum is", sum)

In [ ]:
c=['a','v','n','i','s','h']
c

for i in c:
    print(i,end='')

In [ ]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

In [ ]:
#Ex: 1
count = 0
while count < 20:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

In [ ]:
#Ex: 2

import random

n = 20

random_number = int(n * random.random())

guess = 0

while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

In [ ]:
a=10
print(id(a))

In [ ]:
id(10)

In [ ]:
def min_num(num1,num2,num3,num4,num5):
    if (num1<=num2) and (num1<=num3) and (num1<=num4) and (num1<=num5):
        return num1
    elif (num2<=num1) and (num2<=num3)and (num2<=num4)and (num2<=num5):
        return num2
    elif (num3<=num1) and (num3<=num2)and (num3<=num4)and (num3<=num5):
        return num3
    elif (num4<=num1) and (num4<=num2)and (num4<=num3)and (num4<=num5):
        return num4
    else:
        return num5

min_num(5,7,9,4,8)

In [ ]:
a=[5,7,9,4,8]
    if (a[0]<=a[0]) and (a[0]<=a[1]) and (a[0]<=a[2]) and (a[0]<=a[3]) and (a[0]<=a[4]):
        return a[0]
    elif (a[1]<=a[0]) and (a[1]<=a[1]) and (a[1]<=a[2]) and (a[1]<=a[3]) and (a[1]<=a[4]):
        return num2
    elif (num3<=num1) and (num3<=num2)and (num3<=num4)and (num3<=num5):
        return num3
    elif (num4<=num1) and (num4<=num2)and (num4<=num3)and (num4<=num5):
        return num4
    else:
        return num5

- Generate an array of 300 values between 0 to 100.
- Treat these values as marks scored by students in an exam.
- Create a dataframe with a column with these marks, & another column where the remarks subjective to the marks are given as below

1. Lesser than 35 is 'Fail'
2. Greater than 35 & Lesser than or equal to 59 is 'Second Division'
3. Greater than 59 & Lesser than or equal to 74 is 'First Division'
4. Greater than 74 is 'Distinction'

Create an array using numpy randint with 100 values, between 0 to 10.
For every unique/distinct number in the array created using numpy randint, find the indices on which those numbers exist in that array using conditional statements and loops.