In [ ]:
a=6
a

6

In [ ]:
a=9
a

9

In [ ]:
a=2
print(a)
a=8
print(a)
a=7
a

2
8

7

In [ ]:
A

NameError: ignored

In [ ]:
1Python= 56

SyntaxError: ignored

In [ ]:
Python 1

SyntaxError: ignored

In [ ]:
Python_1 = 41

In [ ]:
Character/String
Numerical : Integers, Float, Complex, Binary
Boollean : True, False

In [ ]:
56.3, 2,74,21.3,4,5,3,'Neha'

In [ ]:
a = 5
print(a)
type(a)

5

int

In [ ]:
b = 56.3
print(b)
type(b)

56.3

float

In [ ]:
c= 5+0j
print(c)
type(c)

(5+0j)

complex

In [ ]:
d='Python'
d="Python"
print(d)
type(d)

Python

str

In [ ]:
m=True
n=False
print(m)
print(n)
print(type(m))
print(type(n))

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
# + for addition
5+6

11

In [ ]:
# - for subtraction
6-4

2

In [ ]:
# * for multiplication
3*6

18

In [ ]:
# / for division
8/4

2.0

In [ ]:
# // for floor division
8//5

1

In [ ]:
# ** for power
4**6      #4*4*4*4*4*4

4096

In [ ]:
# % for mod
8%5

3

In [ ]:
a=10
b=15
print('a + b is : ', a+b)
print('a - b is : ', a-b)
print('a * b is : ', a*b)
print('a / b is : ', a/b)
print('a ** b is : ', a**b)
print('a % b is : ', a%b)
print('a // b is : ', a//b)

a + b is :  25
a - b is :  -5
a * b is :  150
a / b is :  0.6666666666666666
a ** b is :  1000000000000000
a % b is :  10
a // b is :  0

In [ ]:
#Concatenating (joining strings)
a = 'Python'
b = 'Basics'
a+b

'PythonBasics'

In [ ]:
a + ' ' + b

'Python Basics'

In [ ]:
a = 'Python'
b = 5
a + b

TypeError: ignored

In [ ]:
a = '9'
b = '7'
a+b

'97'

In [ ]:
#Python indexing starts from 0
x = '1234567890'
y = '9876543210'
z = 'abcdefghij'

In [ ]:
# From start of the string till the 4th index will be displayed
x[:5]

'12345'

In [ ]:
z[4:]

'efghij'

In [ ]:
y[3:7]

'6543'

In [ ]:
a= x+y
a

'12345678909876543210'

In [ ]:
a[4:16]

'567890987654'

In [ ]:
a[4:16:3]

'5896'

# LIST

In [ ]:
list1 = [1,2,5,6,20.3,52.6,True,False,[1,8,3,6],'Python','DS', 5+6j,2+7j]

In [ ]:
list1

[1,
 2,
 5,
 6,
 20.3,
 52.6,
 True,
 False,
 [1, 8, 3, 6],
 'Python',
 'DS',
 (5+6j),
 (2+7j)]

In [ ]:
list1[5]

52.6

In [ ]:
list1[8][1]

8

In [ ]:
list1= [1,2,3,4,5]
list2= [7,8,9,6,3]
list3= ['a','b','c','d','e']
list4= 'a','b','c','d','e'

In [ ]:
list4

('a', 'b', 'c', 'd', 'e')

In [ ]:
print(list1 + list2 + list3)

[1, 2, 3, 4, 5, 7, 8, 9, 6, 3, 'a', 'b', 'c', 'd', 'e']

In [ ]:
print(list1 + list2 + list3 + list4)

TypeError: ignored

In [ ]:
print(list1 , list2 , list3)

[1, 2, 3, 4, 5] [7, 8, 9, 6, 3] ['a', 'b', 'c', 'd', 'e']

In [ ]:
print(list1 , list2 , list3, list4)

[1, 2, 3, 4, 5] [7, 8, 9, 6, 3] ['a', 'b', 'c', 'd', 'e'] ('a', 'b', 'c', 'd', 'e')

In [ ]:
print(list1) ; print(list2) ; print(list3)

[1, 2, 3, 4, 5]
[7, 8, 9, 6, 3]
['a', 'b', 'c', 'd', 'e']

In [ ]:
print(list1) ; print(list2) ; print(list3) ; print(list4)

[1, 2, 3, 4, 5]
[7, 8, 9, 6, 3]
['a', 'b', 'c', 'd', 'e']
('a', 'b', 'c', 'd', 'e')

In [ ]:
list1= 1,2,3,4,5
list2= 7,8,9,6,3
list3= 4,5,2,3,6,5
list4= 'a','b','c','d','e'

In [ ]:
print(list1 + list2 + list3 + list4)

(1, 2, 3, 4, 5, 7, 8, 9, 6, 3, 4, 5, 2, 3, 6, 5, 'a', 'b', 'c', 'd', 'e')

In [ ]:
a = [1, 2, 3, 4, 5, (7, 8, 9), 6, 3, 'a', 'b', 'c', 'd', 'e']
a

[1, 2, 3, 4, 5, (7, 8, 9), 6, 3, 'a', 'b', 'c', 'd', 'e']

In [ ]:
a[8] = 'Neha'
a

[1, 2, 3, 4, 5, (7, 8, 9), 6, 3, 'Neha', 'b', 'c', 'd', 'e']

In [ ]:
a[11] = 'Data Science'
a

[1, 2, 3, 4, 5, (7, 8, 9), 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
b = [1, 2, 3, 4, 5, [7, 8, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
b[5][1] = 82
b

[1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
list1= [1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
list1= [1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
list1.append('Python')
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e', 'Python']

In [ ]:
list1= [1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
print(list1[5])
list1[5].append('100')
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[7, 82, 9]
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
list1= [1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
print(list1[7])
list1[7].append('100')

[1, 2, 3, 4, 5, [7, 82, 9], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
3

AttributeError: ignored

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
list1[-1]= 'Bangalore'
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'Bangalore']

In [ ]:
a = (6,5,6)
print(a)
a = list(a)
print(a)

(6, 5, 6)
[6, 5, 6]

In [ ]:
a = {6,5,8}
print(a)
a = list(a)
print(a)

{8, 5, 6}
[8, 5, 6]

In [ ]:
a = (6,5,6)
print(a)
a= list(a)
print(a)

(6, 5, 6)
[6, 5, 6]

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
list1.append([12,52,96,23,78])
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e', [12, 52, 96, 23, 78]]

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
list1.remove('Data Science')
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'e']

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
list1.remove(list1[11])
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'e']

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
del(list1[11])
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'e']

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
print(list1)
list1.remove(list1[8])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
print(list1)
list1.remove('Data Science')
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
print(list1)
del(list1[8])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
print(list1)
list1.remove('Python')
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]

ValueError: ignored

In [ ]:
list1=[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
print(list1)
list1[5].remove(9)
print(list1)

[1, 2, 3, 4, 5, [7, 82, 9, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']
[1, 2, 3, 4, 5, [7, 82, '100'], 6, 3, 'Neha', 'b', 'c', 'Data Science', 'e']

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
print(list1)
del(list1[3:8])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[-11], list1[-6], list1[-3])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[-3], list1[-6], list1[-11])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'c', 'Data Science', 'e', 'Neha', 'b', 'Data Science', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[-11])
print(list1)
del(list1[-6])
print(list1)
del(list1[-3])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[11])
print(list1)
del(list1[8])
print(list1)
del(list1[3])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[11], list1[8], list1[3])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Neha', 'b', 'c', 'e', 2, 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', ['e','Neha', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.insert(3,'Python')
print(list1)
list1[5].insert(2,'Python')
print(list1)
list1.insert(3,[44,58,63,45])
print(list1)
list1[6].insert(4,[44,58,63,45])
print(list1)

['Neha', 'b', 'c', 'Data Science', ['e', 'Neha', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Python', 'Data Science', ['e', 'Neha', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Python', 'Data Science', ['e', 'Neha', 'Python', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', [44, 58, 63, 45], 'Python', 'Data Science', ['e', 'Neha', 'Python', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', [44, 58, 63, 45], 'Python', 'Data Science', ['e', 'Neha', 'Python', 'b', [44, 58, 63, 45], 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', ['e','Neha', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.insert(-4,'Python')
print(list1)

['Neha', 'b', 'c', 'Data Science', ['e', 'Neha', 'b', 'c', 'Data Science'], 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Data Science', ['e', 'Neha', 'b', 'c', 'Data Science'], 'e', 'Python', 2, 'Data Science', 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
list1.count('Data Science')

3

In [ ]:
list1.count('e')

2

In [ ]:
list1.count(2)

1

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.reverse()
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
[3, 5, 'Data Science', 2, 'e', 'Data Science', 'c', 'b', 'Neha', 'e', 'Data Science', 'c', 'b', 'Neha']

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.sort()
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]

TypeError: ignored

In [ ]:
list1=[25,85,12,74.3,56,36,96.6,25,52,74.2,96,23,45]
list1.sort()
print(list1)

[12, 23, 25, 25, 36, 45, 52, 56, 74, 74, 85, 96, 96]

In [ ]:
list1=[25,85,12,74.3,56,36,96.6,25,52,74.2,96,23,45]
list1.sort(reverse=True)
print(list1)

[96.6, 96, 85, 74.3, 74.2, 56, 52, 45, 36, 25, 25, 23, 12]

In [ ]:
list1= ['n','e','q','A','h','W','E','u','t','e','R']
list1.sort()
list1

['A', 'E', 'R', 'W', 'e', 'e', 'h', 'n', 'q', 't', 'u']

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c']
print(list1)
list1.extend([12,85,36,96,78])
list1
list1.insert(3,[12,85,36,96,78])
list1

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c']

['Neha',
 'b',
 'c',
 [12, 85, 36, 96, 78],
 'Data Science',
 'e',
 'Neha',
 'b',
 'c',
 [12, 85, 36, 96, 78]]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c']
list1.index('Data Science')

3

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c']
list1.index('b')

1

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c']
list1.index(list1[-1])

2

In [ ]:
len(list1)-1

7

In [ ]:
#Reversing half list
#Reversing elements from an index to another index
#Sorting a part of a list (from one index to another)
#Inserting multiple elements at a specific index in a list, not as a nested list

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list1[3:10][::-1]

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]

['e', 'Data Science', 'c', 'b', 'Neha', 'e', 'Data Science']

In [ ]:
#Reversing half list
#Reversing elements from an index to another index

list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list2 = list1[:3] +  list1[3:10][::-1] + list1[10:]
print(list2)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'e', 'Data Science', 'c', 'b', 'Neha', 'e', 'Data Science', 2, 'Data Science', 5, 3]

In [ ]:
l = [25,85,12,74.3,56,36,96.6,25,52,74.2,96,23,45]
print(l)
l[5:9] = sorted(l[5:9])
print(l)

[25, 85, 12, 74.3, 56, 36, 96.6, 25, 52, 74.2, 96, 23, 45]
[25, 85, 12, 74.3, 56, 25, 36, 52, 96.6, 74.2, 96, 23, 45]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.pop()
print(list1)
list1.pop(5)
print(list1)
list1.remove(list1[5])
print(list1)
#list1.remove() will give error as we need to define the element we want to remove inside the method.

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5]
['Neha', 'b', 'c', 'Data Science', 'e', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5]
['Neha', 'c', 'Data Science', 'e', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list2 = list1.copy()
print(list2)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
list1.clear()
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
[]

In [ ]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
print(list1)
del(list1[5:10])
print(list1)

['Neha', 'b', 'c', 'Data Science', 'e', 'Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]
['Neha', 'b', 'c', 'Data Science', 'e', 2, 'Data Science', 5, 3]

In [ ]:
5=a
a=5

SyntaxError: ignored

- is equal to - ==
- is not equal to - !=
- in
- not in

In [ ]:
a= [1,2,3,4,5]
a[2] is 3

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-12-deb47c3e2c95>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a[2] is 3

True

In [ ]:
a[2] == 3

True

In [ ]:
a[3] == 6

False

In [ ]:
a[3] is not 7

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-15-791d11e6920f>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a[3] is not 7

True

In [ ]:
a[0] is not 1

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-16-56a9ecae065a>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a[0] is not 1

False

In [ ]:
a[3] != 7

True

In [ ]:
a[0] != 1

False

In [ ]:
6 in a

False

In [ ]:
2 in a

True

In [ ]:
7 not in a

True

In [ ]:
3 not in a

False

# TUPLE

In [ ]:
tup1= (12,85,'Data Science', 'Neha', 5+1j, 52.1, True, False)
print(tup1)

(12, 85, 'Data Science', 'Neha', (5+1j), 52.1, True, False)

In [ ]:
tup1.append(5)

AttributeError: ignored

In [ ]:
tup1.reverse()

AttributeError: ignored

In [ ]:
tup1=(5)
print(tup1)
type(tup1)

5

int

In [ ]:
tup1=(5,)
print(tup1)
type(tup1)

(5,)

tuple

In [ ]:
tup1= (12,85,'Data Science', 'Neha', 5+1j, 52.1, True, False)
print(tup1)
print(tup1[2])
print(tup1[5])

(12, 85, 'Data Science', 'Neha', (5+1j), 52.1, True, False)
Data Science
52.1

In [ ]:
tup1= (12,85,'Data Science', 'Neha', 5+1j, 52.1, True, False)
print(tup1)
tup1[5] = 'ExcelR'

(12, 85, 'Data Science', 'Neha', (5+1j), 52.1, True, False)

TypeError: ignored

In [ ]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
print(tup1[0])
print(tup2[3])
tup1[0] + tup2[3]

1
9

10

In [ ]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
lst1 = [8,5,2,3,6]

In [ ]:
tup1 + tup2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
tup1 + lst1

TypeError: ignored

In [ ]:
tup1= (12,85,'Data Science', 'Neha', 5+1j, 52.1, True, False)
print(tup1)
lst1 = list(tup1)
print(lst1)
lst1.reverse()
lst1.append('Python')
lst1.pop(3)
print(lst1)
tup1=tuple(lst1)
print(tup1)

(12, 85, 'Data Science', 'Neha', (5+1j), 52.1, True, False)
[12, 85, 'Data Science', 'Neha', (5+1j), 52.1, True, False]
[False, True, 52.1, 'Neha', 'Data Science', 85, 12, 'Python']
(False, True, 52.1, 'Neha', 'Data Science', 85, 12, 'Python')

In [ ]:
tup1= (12,85,'Data Science', 'Neha')
tup1*5

(12,
 85,
 'Data Science',
 'Neha',
 12,
 85,
 'Data Science',
 'Neha',
 12,
 85,
 'Data Science',
 'Neha',
 12,
 85,
 'Data Science',
 'Neha',
 12,
 85,
 'Data Science',
 'Neha')

In [ ]:
tup1= (12,85,'Data Science', 'Neha', 5+1j, 52.1, True, False,85,'Data Science', 'Neha',12,85,'Data Science')

In [ ]:
tup1.index('Neha')

3

In [ ]:
tup1.count('Data Science')

3

In [ ]:
tup1.count(12)

2

In [ ]:
len(tup1)

14

In [ ]:
tup1=(12,96,2,5,1,474,252,36)
print(max(tup1))
print(min(tup1))

474
1

In [ ]:
print(sorted(tup1))

[1, 2, 5, 12, 36, 96, 252, 474]

# DICTIONARY

In [ ]:
dict1 = {'Institute' : 'ExcelR', 'Area':'BTM Layout', 'City': 'Bangalore', 'Pincode': 560068}
dict1

{'Institute': 'ExcelR',
 'Area': 'BTM Layout',
 'City': 'Bangalore',
 'Pincode': 560068}

In [ ]:
dict1 = {'Institute' :  , 'Area':'BTM Layout', 'City': 'Bangalore', 'Pincode': 560068}
dict1

SyntaxError: ignored

In [ ]:
dict1 = {'Institute' :  'ExcelR', 'Area':'BTM Layout', : 'Bangalore', 'Pincode': 560068}
dict1

SyntaxError: ignored

In [ ]:
dict1 = {'Institute' : 'ExcelR', 'Area':'BTM Layout', 'City': 'Bangalore', 'Pincode': 560068}
dict1

{'Institute': 'ExcelR',
 'Area': 'BTM Layout',
 'City': 'Bangalore',
 'Pincode': 560068}

In [ ]:
dict1.items()

dict_items([('Institute', 'ExcelR'), ('Area', 'BTM Layout'), ('City', 'Bangalore'), ('Pincode', 560068)])

In [ ]:
dict1.keys()

dict_keys(['Institute', 'Area', 'City', 'Pincode'])

In [ ]:
keys_list= list(dict1.keys())
print(keys_list)
keys_tuple= tuple(dict1.keys())
print(keys_tuple)

['Institute', 'Area', 'City', 'Pincode']
('Institute', 'Area', 'City', 'Pincode')

In [ ]:
dict1.values()

dict_values(['ExcelR', 'BTM Layout', 'Bangalore', 560068])

In [ ]:
values_list=list(dict1.values())
print(values_list)
values_tuple=tuple(dict1.values())
print(values_tuple)

['ExcelR', 'BTM Layout', 'Bangalore', 560068]
('ExcelR', 'BTM Layout', 'Bangalore', 560068)

In [ ]:
range(9)

range(0, 9)

In [ ]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
dict(range(9))

TypeError: ignored

In [ ]:
dict2= {'list1' : list(range(9)), 'tuple1' : tuple(range(9)),
        'letters': ['a','b','c','d','e'], 'Bool': (True,False, False,True),
        'Complex':[5+3j, 7+4j]}
dict2

{'list1': [0, 1, 2, 3, 4, 5, 6, 7, 8],
 'tuple1': (0, 1, 2, 3, 4, 5, 6, 7, 8),
 'letters': ['a', 'b', 'c', 'd', 'e'],
 'Bool': (True, False, False, True),
 'Complex': [(5+3j), (7+4j)]}

In [ ]:
dict1

{'Institute': 'ExcelR',
 'Area': 'BTM Layout',
 'City': 'Bangalore',
 'Pincode': 560068}

In [ ]:
dict1['Institute']

'ExcelR'

In [ ]:
dict1['City']

'Bangalore'

In [ ]:
dict1['Wing'] = 'New Building'

In [ ]:
dict1

{'Institute': 'ExcelR',
 'Area': 'BTM Layout',
 'City': 'Bangalore',
 'Pincode': 560068,
 'Wing': 'New Building'}

In [ ]:
a= list(dict1.items())
a

[('Institute', 'ExcelR'),
 ('Area', 'BTM Layout'),
 ('City', 'Bangalore'),
 ('Pincode', 560068),
 ('Wing', 'New Building')]

In [ ]:
a.insert(1, ('Course','Data Science'))
a

[('Institute', 'ExcelR'),
 ('Course', 'Data Science'),
 ('Area', 'BTM Layout'),
 ('City', 'Bangalore'),
 ('Pincode', 560068),
 ('Wing', 'New Building')]

In [ ]:
dict1= dict(a)
dict1

{'Institute': 'ExcelR',
 'Course': 'Data Science',
 'Area': 'BTM Layout',
 'City': 'Bangalore',
 'Pincode': 560068,
 'Wing': 'New Building'}

In [ ]:
dict1 = {'Name' : 'Neha' , 'Job_Role' : 'Data Science Trainer' ,
         'Address' : {'Area' : 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}}
dict1

{'Name': 'Neha',
 'Job_Role': 'Data Science Trainer',
 'Address': {'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}}

In [ ]:
dict1['Address']['State']

'Karnataka'

In [ ]:
dict1 = {'Name' : 'Neha' , 'Surname': 'Ramchandani'}
dict2 = {'City' : 'Bangalore' , 'State' : 'Karnataka'}
print(dict1)
print(dict2)
dict1.update(dict2)
dict1

{'Name': 'Neha', 'Surname': 'Ramchandani'}
{'City': 'Bangalore', 'State': 'Karnataka'}

{'Name': 'Neha',
 'Surname': 'Ramchandani',
 'City': 'Bangalore',
 'State': 'Karnataka'}

In [ ]:
dict1 = {'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
print(dict1.items())
sorted_by_names = dict(sorted(dict1.items(), key= lambda x:x[0], reverse= True))
print(sorted_by_names)
sorted_by_marks = dict(sorted(dict1.items(), key= lambda x:x[1]))
print(sorted_by_marks)

dict_items([('Tarun', 35), ('Harsh', 21), ('Bhavna', 52), ('Rahul', 18), ('Abhishek', 42)])
{'Tarun': 35, 'Rahul': 18, 'Harsh': 21, 'Bhavna': 52, 'Abhishek': 42}
{'Rahul': 18, 'Harsh': 21, 'Tarun': 35, 'Abhishek': 42, 'Bhavna': 52}

In [ ]:
dict1 = {'Name' : 'Neha' , 'Job_Role' : 'Data Science Trainer' ,
         'Address' : {'Area' : 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}}
dict1

{'Name': 'Neha',
 'Job_Role': 'Data Science Trainer',
 'Address': {'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}}

In [ ]:
dict1['Job_Role'] = 'DA Trainer'
dict1

{'Name': 'Neha',
 'Job_Role': 'DA Trainer',
 'Address': {'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}}

In [ ]:
dict1['Address']['Area'] = 'JPNagar'
dict1

{'Name': 'Neha',
 'Job_Role': 'DA Trainer',
 'Address': {'Area': 'JPNagar', 'City': 'Bangalore', 'State': 'Karnataka'}}

In [ ]:
dict1 = {'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
print(dict1)
del(dict1['Rahul'])
print(dict1)

{'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
{'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Abhishek': 42}

In [ ]:
dict1 = {'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
print(dict1)
dict1.pop('Tarun')
print(dict1)

{'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
{'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}

In [ ]:
print(dict1)
dict1.popitem()
print(dict1)

{'Harsh': 21, 'Bhavna': 52, 'Rahul': 18, 'Abhishek': 42}
{'Harsh': 21, 'Bhavna': 52, 'Rahul': 18}

In [ ]:
print(dict1)
dict1.clear()
print(dict1)

{'Tarun': 35, 'Harsh': 21, 'Bhavna': 52, 'Abhishek': 42}
{}

# SET

In [ ]:
set1 = {'Orange', 'Banana', 'Chickoo', 'Mango', 'Apple'}
set1

{'Apple', 'Banana', 'Chickoo', 'Mango', 'Orange'}

In [ ]:
print(set1)

{'Mango', 'Apple', 'Banana', 'Chickoo', 'Orange'}

In [ ]:
set1[0]

TypeError: ignored

In [ ]:
set1 = {'Orange', 'Banana', 'Chickoo', 'Mango', 'Apple', 'Banana','Chickoo', 'Mango',}
set1

{'Apple', 'Banana', 'Chickoo', 'Mango', 'Orange'}

In [ ]:
set1 = {'Orange', 'Banana', 'Chickoo', 'Mango', 'Apple'}
set1.add('Watermelon')
print(set1)
set1.add('Grapes')
print(set1)
set1.add('Chickoo')
print(set1)

{'Mango', 'Chickoo', 'Watermelon', 'Banana', 'Apple', 'Orange'}
{'Mango', 'Chickoo', 'Watermelon', 'Grapes', 'Banana', 'Apple', 'Orange'}
{'Mango', 'Chickoo', 'Watermelon', 'Grapes', 'Banana', 'Apple', 'Orange'}

In [ ]:
set1= {'Apple', 'Banana', 'Chickoo', 'Grapes', 'Mango', 'Orange', 'Watermelon'}
print(set1)
set1.remove('Chickoo')
print(set1)
set1.pop()
print(set1)
set1.discard('Banana')
print(set1)

{'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Chickoo', 'Watermelon'}
{'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
{'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
{'Mango', 'Orange', 'Apple', 'Watermelon'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
set1 | set2

{'Apple',
 'Banana',
 'DragonFruit',
 'Grapes',
 'Kiwi',
 'Mango',
 'Orange',
 'Strawberry',
 'Sweetlime',
 'Watermelon'}

In [ ]:
(set2) and (set1)

{'Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Watermelon'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
print(set1.union(set2))
print(set2.union(set1))

{'Mango', 'Banana', 'Apple', 'Grapes', 'DragonFruit', 'Sweetlime', 'Kiwi', 'Strawberry', 'Watermelon', 'Orange'}
{'Mango', 'Banana', 'Apple', 'DragonFruit', 'Sweetlime', 'Grapes', 'Kiwi', 'Strawberry', 'Watermelon', 'Orange'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
set1 & set2

{'Banana', 'Mango', 'Orange'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
print(set1.intersection(set2))
print(set2.intersection(set1))

{'Mango', 'Banana', 'Orange'}
{'Mango', 'Banana', 'Orange'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
print(set1 - set2)
print(set2 - set1)

{'Apple', 'Grapes', 'Watermelon'}
{'Kiwi', 'Strawberry', 'DragonFruit', 'Sweetlime'}

In [ ]:
print(set1.difference(set2))
print(set2.difference(set1))

{'Apple', 'Grapes', 'Watermelon'}
{'Kiwi', 'Strawberry', 'DragonFruit', 'Sweetlime'}

In [ ]:
#Symmetric Difference
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
set1 ^ set2

{'Apple',
 'DragonFruit',
 'Grapes',
 'Kiwi',
 'Strawberry',
 'Sweetlime',
 'Watermelon'}

In [ ]:
set1 = {'Grapes', 'Mango', 'Orange', 'Apple', 'Banana', 'Watermelon'}
set2 = {'Mango', 'Kiwi', 'Strawberry', 'Orange', 'Sweetlime', 'DragonFruit','Banana'}
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

{'Apple', 'Grapes', 'DragonFruit', 'Sweetlime', 'Kiwi', 'Strawberry', 'Watermelon'}
{'Apple', 'DragonFruit', 'Grapes', 'Sweetlime', 'Kiwi', 'Strawberry', 'Watermelon'}

In [ ]:
setA = {'Mango','Banana','Apple','Grapes','DragonFruit','Sweetlime','Kiwi','Strawberry','Watermelon','Orange'}
setB = {'Mango','Sweetlime','Apple','Kiwi'}

In [ ]:
print('setA is a superset of setB: ', setA>setB)
print('setB is a superset of setA: ', setA<setB)
print('setB is a subset of setA: ', setB<setA)

setA is a superset of setB:  True
setB is a superset of setA:  False
setB is a subset of setA:  True

# CONDITIONAL STATEMENTS

In [ ]:
rating = 5
if (rating > 4):
  print('Show is Good')

Show is Good

In [ ]:
rating = 3
if (rating > 4):
  print('Show is Good')

In [ ]:
num = 4
if (num > 0):
  print(num, 'is positive')
else:
  print(num, 'is negative')

4 is positive

In [ ]:
num = -3
if (num > 0):
  print(num, 'is positive')
else:
  print(num, 'is negative')

-3 is negative

In [ ]:
num = 52
if (num>0):
  print(num, 'is positive')
elif (num<0):
  print(num, 'is negative')
else:
  print(num, 'is zero')

52 is positive

In [ ]:
num = -6
if (num>0):
  print(num, 'is positive')
elif (num<0):
  print(num, 'is negative')
else:
  print(num, 'is zero')

-6 is negative

In [ ]:
num = 0
if (num>0):
  print(num, 'is positive')
elif (num<0):
  print(num, 'is negative')
else:
  print(num, 'is zero')

0 is zero

- 0 to 34 inclusive - Fail
- 35 to 59 inclusive - Second Grade
- 60 to 74 inclusive - First Grade
- 75 and more - Distinction

In [ ]:
marks = int(input("Enter the marks!"))
if (marks<0) | (marks>100):
  print('Invalid Marks')
elif (marks>=0) & (marks<35):
  print('Fail')
elif (marks>=35) & (marks<60):
  print('Second Grade')
elif (marks>=60) & (marks<75):
  print('First Grade')
else:
  print('Distinction')

Enter the marks!-3
Invalid Marks

In [ ]:
a = [52,12,7,1,3,65,2,4,82,85,2,24,65,72,88,22,96,48,85,12,25,84,1,2,7,5,54,4,8,23,2,1]
for i in a:
  if (i%2==0):
    print(i)

52
12
2
4
82
2
24
72
88
22
96
48
12
84
2
54
4
8
2

In [ ]:
a = [52,12,7,1,3,65,2,4,82,85,2,24,65,72,88,22,96,48,85,12,25,84,1,2,7,5,54,4,8,23,2,1]
div_2=[]
for i in a:
  if (i%2==0):
    div_2.append(i)

print(div_2)

[52, 12, 2, 4, 82, 2, 24, 72, 88, 22, 96, 48, 12, 84, 2, 54, 4, 8, 2]

In [ ]:
a = [52,12,7,1,3,65,2,4,82,85,2,24,65,72,88,22,96,48,85,12,25,84,1,2,7,5,54,4,8,23,2,1]
for i in a:
  if i%2==0:
    print(i, 'is Even')
  else:
    print(i, 'is Odd')

52 is Even
12 is Even
7 is Odd
1 is Odd
3 is Odd
65 is Odd
2 is Even
4 is Even
82 is Even
85 is Odd
2 is Even
24 is Even
65 is Odd
72 is Even
88 is Even
22 is Even
96 is Even
48 is Even
85 is Odd
12 is Even
25 is Odd
84 is Even
1 is Odd
2 is Even
7 is Odd
5 is Odd
54 is Even
4 is Even
8 is Even
23 is Odd
2 is Even
1 is Odd

In [2]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3, 'Data Science']
range(len(list1))
#0,1,2,3,4,5,6,7,8,9,10,11,12,13

range(0, 14)

In [3]:
list1 = ['Neha', 'b', 'c', 'Data Science', 'e','Neha', 'b', 'c', 'Data Science', 'e', 2, 5, 3, 'Data Science']
Data_Science=[]
for i in range(len(list1)):
  if (list1[i]=='Data Science'):
    Data_Science.append(i)

Data_Science

[3, 8, 13]

In [3]:
num = int(input('Enter the number!'))
factors = []
for i in (range(1, num+1)):
  if num%i==0:
    factors.append(i)

print(factors)

Enter the number!25
[1, 5, 25]